/* colors: #a67dba  #CAA8CF  */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url(../img/background.svg);
    background-repeat: no-repeat;*/
}

* {
    box-sizing: border-box;
}



/*    logo   and  header    */

.logo {
    width: 60%;
    padding: 1em;
}

.header {
    background-color: #CAA8CF;
    background-image: -webkit-linear-gradient(75deg, #FFFF 50%, #CAA8CF 50%);
    min-height: 20em;
}

/*    navgiation    */

nav ul li a {
    display: inline-block;
    outline: none;
    color: #1f2227;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    color: #808080;
    text-decoration: none;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #362D81;
    opacity: 0;
    transition: all 0.2s ease;

}

.nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
}

.nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
}

.nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
}

.nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
}

.nav-container ul li:not(:first-child) {
    margin-left: 0;
}

.nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
}

.nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    /* border-radius: 50%;*/
    background: #CAA8CF;
    margin-top: 0.7em
}



.nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    /*color of burger menu*/
    border-radius: 2px;
    margin-left: 14px;
}

.nav-open i:nth-child(1) {
    margin-top: 16px;
}

.nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}

.nav-open i:nth-child(3) {
    margin-top: 4px;
}


#nav:checked + .nav-open {
    transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}

/*   local navigation    */

.local-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;

}

.local-nav ul li {
    display: inline;
    padding: 1em 1.2em 1em 1.2em;
    background-color: rgba(166, 125, 186, 0.5);
    margin: 0.1em;


}

.local-nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.local-nav a:hover {
    color: #362D81;
    transition: 1s ease;

}

.arrows {
    display: block;
    padding: 5em 0em 0em 0em;
    margin-left: auto;
    margin-right: auto;
    width: 65%;

}



/*          EVENTS           */

.event-pic {
    width: 100%;
}

.event h1 {
    font-size: 1.8em;
    font-weight: 700;
    padding: 1em 0em 0em 0em;
    text-align: center;
    color: #362D81;
    margin: 0;
}

.event {
    /*border: 1px solid #a67dba;*/
    /*background-color: rgba(147, 110, 176, 0.2);*/
    /* background-image: -webkit-linear-gradient(90deg, #FFFF 70%, #CAA8CF 50%);*/
    padding: 1em;
}

.event-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1em 0em 1em 0em;
}

.event-wrapper h3 {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
}

.event-line {
    padding-top: 20%;
}

hr {
    width: 50%;
    color: purple;

}

.event-category {
    padding: 0em 0em 1.2em 0em;
    font-style: italic;
    font-size: 0.9em;
}


/* event buttons */

.event-button {
    text-decoration: none;
    background-color: #936EB0;
    color: white;
    padding: 8px 23px 8px 23px;
}

.right-button {
    text-align: right;
}

.button-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

/* event categories */

.event-category ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

.event-category li {
    display: inline;
    padding: 0em 2em 0em 2em;

}

/*          FOOTER         */

footer {
    background-color: #CAA8CF;
    padding: 1em;
}

footer img {
    width: 10%;

}


/* subpage */

.subpage-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

#singleEvent {

    transform: translateX(-100vw);
    transition: all 0.3s;
}

#singleEvent.slideInEvent {
    transform: translateX(0vw);

}

#singleEvent h1 {
    text-align: center;
    color: #362D81;
}

.event-descript {
    text-align: center;
    padding: 1em;
}
