@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}


/*    logo        */

.logo {
    width: 60%;
    padding: 1em;
}

/*    navgiation    */

nav ul li a {
    display: inline-block;
    outline: none;
    color: #1f2227;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    color: #808080;
    text-decoration: none;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;

}

.nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
}

.nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
}

.nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
}

.nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
}

.nav-container ul li:not(:first-child) {
    margin-left: 0;
}

.nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
}

.nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    background: #a67dba;
    margin-top: 0.7em
}



.nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    /*color of burger menu*/
    border-radius: 2px;
    margin-left: 14px;
}

.nav-open i:nth-child(1) {
    margin-top: 16px;
}

.nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}

.nav-open i:nth-child(3) {
    margin-top: 4px;
}


#nav:checked + .nav-open {
    transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}



/*  events   */

.event-pic {
    width: 100%;
}

.event h1 {
    font-size: 1.5em;
}

.event {
    border: 1px solid #a67dba;
    ;
    padding: 2em;
    margin: 1em;
}


/* subpage */

#singleEvent {

    transform: translateX(-100vw);
    transition: all 0.3s;
}

#singleEvent.slideInEvent {
    transform: translateX(0vw);

}

/*    collapse content   */

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: #A77B0E;
    background: #FAE042;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #7C5A0B;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
